@import "./styles/colors";

.App {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: $background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 0;
  background-color: $light-color;
  border-bottom: 2px solid $dark-color;
  border-top: none;
  border-left: none;
  border-right: none;

  width: 100%;
  font-size: large;

  &:focus {
    outline: none;
    border-color: $primary-color;
  }

  &::placeholder {
    color: $dark-color;
  }
}

.button{
  margin: 0.5rem 0;
  padding: 0.5rem;

  background-color: $secondary-color;
  color: $light-color;
  border: none;
  border-radius: 0.5rem;

  cursor: pointer;
  &:hover{
      background-color: $primary-color;
  }

  &:active{
      background-color: $dark-color;
  }

  span{
      margin: 0 0.5rem;
      color: $light-color;
      font-size: large;
  }
}