$primary-color: hsl(260, 62%, 51%);
$secondary-color: #26063a;
$success-color: #28a745;
$info-color: #17a2b8;
$warning-color: #ffc107;
$danger-color: #dc3545;


$light-color: #e4e6e8;
$dark-color: #343a40;


$background-color: #474f57;
